// colors

$grey-900: #151515;
$grey-700: #444444;
$gold: #d5966c;
$white: #ffffff;

// font name

$font-main: 'Big Shoulders', sans-serif;
$font-outfit: 'Outfit', sans-serif;

// font weight

$font-weight-extrabold: 800;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

// font size

$font-size-60: 3.75rem; // 60px
$font-size-20: 1.25rem; //20px
$font-size-18: 1.125rem; // 18px

// line-hight

$line-hight-9: 0.9;
$line-hight-140: 1.4;

// spacing

$spacing-32: 2rem; //  32px
$spacing-24: 1.5rem; // 24px
$spacing-8: 0.5rem; //8px
